<nav class="navbar navbar-default background">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand background">Foodie!!!</a>
    </div>

    <div class="collapse navbar-collapse tx">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Search Restaurant</a></li>
        <li><a routerLink="/search-recipe">Search Recipe</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="/shopping-list">Contact Us</a></li> -->
      </ul>

    </div>
  </div>
</nav>
