.main-img {
    width: 100%;
    height: 45vh;
    margin: 1vw;
}

.name-text {
    text-align: right;
}

body {
    font-family: 'Play', sans-serif;
    color: #bcbbbb;
}

.name-text h1 {
    color: #747704;
}